

<!-- section-2 - Striscia servizi -->
<div class="container-fluid section2">
  <div class="row s2-content">
    <div class="col-sm-4 text-center">
      <img class="my-4" src="assets/svg/responsive.svg" width="30" />
      <h6 class="s2-title uppercase">Sviluppo App</h6>
      <p class="s2-subtitle">Sviluppiamo applicazioni multi-piattaforma per desktop e mobile.</p>
    </div>
    <div class="col-sm-4 text-center">
      <img class="my-4" src="assets/svg/computer-graphic.svg" width="30" />
      <h6 class="s2-title uppercase">Progettazione</h6>
      <p class="s2-subtitle">Forniamo consulenza per la progettazione di sistemi informatici con soluzioni ingegneristiche.</p>
    </div>
    <div class="col-sm-4 text-center">
      <img class="my-4" src="assets/svg/people.svg" width="30" />
      <h6 class="s2-title uppercase">Unisciti a noi</h6>
      <p class="s2-subtitle">Sei un developer? Siamo una comunità aperta. Puoi trovarci su Telegram e su Slack.</p>
    </div>
  </div>
</div>

<!-- section-3 -->
<!-- <div class="container-fluid section3">
    <div class="row">
      <div class="col-sm-6 s3-content">
        <div class="row">
          <h3 class="s3-title">WE WORK HARD</h3>
        </div>
        <div class="row s3-sub">
          <p>Intrinsicly engineer one-to-one partnerships with error-free customer service. Competently optimize
            goal-oriented technology via low-risk high-yield materials engage.</p>
          <p>Energistically develop client-centered web services without focused data. Conveniently syndicate leveraged
            scenarios.</p>
        </div>
        <div class="row pt-4"> <a class="s3-button d-inline-block" href="#">OUTSTANDING FEATURES</a></div>
      </div>
      <div class="col-sm-6 s3-img">
        <img src="assets/img/new-image.png" width="90%" />
      </div>
    </div>
  </div> -->

<!-- section-4 -->
<div class="container-fluid p-0 section4">
    <div class="parallax2">
      <div class="row s4-context">
        <div class="col-sm-12 text-center">
          <h3 class="s4-title mb-4 uppercase">Scopri i nostri servizi</h3>
        </div>
      </div>
      <div class="row s4-context">
        <div class="col-sm-3 text-center s4-img s4-col">
          <div class="hovereffect">
            <img src="assets/img/h1.jpg" width="100%" />
            <div class="overlay">
              <h2>HOME 1</h2>
              <p>
                <a>Professionally repurpose premium rather than magnetic bandwidth.</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 text-center s4-img  s4-col">
          <div class="hovereffect">
            <img src="assets/img/project-4.jpg" width="100%" />
            <div class="overlay">
              <h2>HOME 2</h2>
              <p>
                <a>Professionally repurpose premium rather than magnetic bandwidth.</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 text-center  s4-img  s4-col">
          <div class="hovereffect">
            <img src="assets/img/project-5.jpg" width="100%" />
            <div class="overlay">
              <h2>HOME 3</h2>
              <p>
                <a>Professionally repurpose premium rather than magnetic bandwidth.</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 text-center  s4-img s4-col">
          <div class="hovereffect">
            <img src="assets/img/h4.jpg" width="100%" />
            <div class="overlay">
              <h2>HOME 4</h2>
              <p>
                <a>Professionally repurpose premium rather than magnetic bandwidth.</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- section-6 -->
<div class="container-fluid section6" style="overflow:hidden">
  <div class="row">
    <div class="col-sm-12 text-center s6-title">
      <h3>IL NOSTRO TEAM</h3>
    </div>
  </div>
  <div class="row clients">
    <div class="col-sm-12 text-center">
      <img src="assets/img/clients/new1.jpg" class="s6-img" />
      <img src="assets/img/clients/new2.jpg" class="s6-img" />
      <img src="assets/img/clients/new4.jpg" class="s6-img" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center s6-sub">
      <p>Rapidiously integrate multimedia based resources whereas low-risk high-yield technologies.
        <br>Proactively innovate market positioning products without B2B products.<br>
        Progressively recaptiualize.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12  text-center s6-footer">
      <span class="name">ALFREDO TORRE</span>
      <span class="name2">&mdash; FURTHER</span>
    </div>
  </div>
  <div>