<!-- section-5 -->
<div class="container-fluid section5">
    <div class="row text-center">
      <h3 class="col-sm-12 s5-title mt-5">OUR LATEST WORK</h3>
    </div>
    <div class="row text-center">
      <div class="col-sm-12 s5-sub"><a href="#" class="effect-shine">VIEW ALL PORTFOLIO</a></div>
    </div>
    <div class="row">
      <div class="col-sm-3 s5-col">
        <div class="row">
          <div class="hovereffect2">
            <img src="assets/img/project-1.jpg" class="s5-img" />
            <div class="overlay2">
              <h2>PORTFOLIO 1</h2>
              <p class="icon-links">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="hovereffect2">
            <img src="assets/img/project-5.jpg" class="s5-img" />
            <div class="overlay2">
              <h2>PORTFOLIO 5</h2>
              <p class="icon-links">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 s5-col">
        <div class="row">
          <div class="hovereffect2">
            <img src="assets/img/project-2.jpg" class="s5-img" />
            <div class="overlay2">
              <h2>PORTFOLIO 2</h2>
              <p class="icon-links">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="hovereffect2">
            <img src="assets/img/project-6.jpg" class="s5-img" />
            <div class="overlay2">
              <h2>PORTFOLIO 6</h2>
              <p class="icon-links">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 s5-col">
        <div class="row">
          <div class="hovereffect2">
            <img src="assets/img/project-3.jpg" class="s5-img" />
            <div class="overlay2">
              <h2>PORTFOLIO 3</h2>
              <p class="icon-links">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="hovereffect2">
            <img src="assets/img/project-7.jpg" class="s5-img" />
            <div class="overlay2">
              <h2>PORTFOLIO 7</h2>
              <p class="icon-links">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 s5-col">
        <div class="row">
          <div class="hovereffect2">
            <img src="assets/img/project-4.jpg" class="s5-img" />
            <div class="overlay2">
              <h2>PORTFOLIO 4</h2>
              <p class="icon-links">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="hovereffect2">
            <img src="assets/img/project-8.jpg" class="s5-img" />
            <div class="overlay2">
              <h2>PORTFOLIO 8</h2>
              <p class="icon-links">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>