<div class="container-fluid section1 p-0">
  
<app-header></app-header>

<router-outlet></router-outlet>

<!-- section-7 -->
<!-- <div class="container-fluid section7">
        <div class="parallax3" data-parallax="scroll" data-image-src="assets/img/bg4.jpg" data-z-index="1">
          <div class="row s7-content mb-4 mx-1">
            <div class="col-sm-12 col-md-7 col-lg-6 s7-text">
              <div>
                <h1 class="s7-title">MODERN</h1>
                <p class="s7-sub">Authoritatively synthesize resource maximizing value after distinctive experiences
                  create go forward functionalities after.</p>
                <a class="s7-btn mb-2" href="">VIEW OUR WORK</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->

<app-footer></app-footer>

</div> <!-- /.container-fluid -->