<!-- Footer -->
<div class="container-fluid footer">
  <div class="row">
    <div class="col-sm-12 text-center">
      <img src="assets/img/footer-logo.png" />
    </div>
  </div>

  <div class="row ">
    <div class="col-sm-12 text-center">
      <ul class="footer-list">
        <li style="list-style:none" class="d-inline mx-2"><i class="icon ion-logo-facebook"></i></li>
        <li style="list-style:none" class="d-inline mx-2"><i class="icon ion-logo-instagram"></i></li>
        <li style="list-style:none" class="d-inline mx-2"><i class="icon ion-logo-twitter"></i></li>
        <li style="list-style:none" class="d-inline mx-2"><i class="icon ion-logo-youtube"></i></li>
        <li style="list-style:none" class="d-inline mx-2"><i class="icon ion-logo-pinterest"></i></li>
        <li style="list-style:none" class="d-inline mx-2"><i class="icon ion-logo-linkedin"></i></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <p class="footer-text">Designed by <span class="footer-name">Fiona Ran</span></p>
    <div>
  </div>

</div> <!-- /.footer -->