<!-- Footer -->
<div class="container-fluid footer">
  <div class="row">
    <div class="col-sm-12 text-center">
      <img width="70" src="assets/img/ingegnati-logo-bw.png" />
    </div>
  </div>

  <div class="row ">
    <div class="col-sm-12 text-center">
      <ul class="footer-list">
        <li style="list-style:none" class="d-inline mx-2"><i class="icon ion-logo-facebook"></i></li>
        <li style="list-style:none" class="d-inline mx-2"><i class="icon ion-logo-twitter"></i></li>
        <li style="list-style:none" class="d-inline mx-2"><i class="icon ion-logo-linkedin"></i></li>
        <li style="list-style:none" class="d-inline mx-2"><i class="icon ion-md-chatboxes" title="Telegram"></i></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <p class="footer-text">Creato con <i class="icon ion-md-heart"></i> dal <span class="footer-name">dev-team</span> di 
      <a href="http://www.ingegnati.it">ingegnati.it</a>.</p>
    <div>
  </div>
