.footer {
    min-height: 200px;
    padding-top: 40px; 
}

.footer-list{
    padding-inline-start: 0px;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 26px;
    line-height: 1.75;
    font-family: Muli, sans-serif;
    letter-spacing: 0em;
    color: #595959;
}

.footer-name {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}